.btn {
	@include dimension(100%, 6rem);
	border-radius: 1rem;
	font-weight: 700;
	font-family: inherit;
	font-size: 1.4rem;
	margin-top: 3rem;
	border: none;
	cursor: pointer;
	&--sign {
		background-color: var(--clr-primary-bright-yellow);
		color: var(--clr-neutral-white);
	}
}
